.order-filter {
    display:block;

}

.order-filter-origin {
    width: 100%;
}

.order-filter-origin-content {
    font-weight: 900;
    color: var(--primaryBackground) !important;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width: 8rem;
    padding: 0.5rem;
    background: #ffffff;
    border-radius: 0.3rem;
    cursor: pointer;
}

.order-filter-origin-content > svg {
    margin:0 1.25rem;
}
.order-filter-origin-content > span{
    font-size: 1.25rem;
}

.order-filter-wrapper {
    position: fixed;
    /* background: #000; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.7);
}

.order-filter-filter {
    background: var(--secondaryText);
    padding: 3rem 1rem 1rem 1rem;
    border-radius: 0.3rem;
    position: relative;
    color: white !important;
    font-size: 1.1rem;
    font-weight: bold;
    width: 30%;

    display:grid;
    grid-template-areas:
        'filter-status filter-status'
        'filter-order filter-order'
        'filter-people filter-people'
        'filter-discount filter-discount'
        'filter-createdAt filter-createdAt'
        'filter-updatedAt filter-updatedAt'
        'filter-actions filter-actions'
    ;
    column-gap:2rem;
}

.order-filter-close {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    border: 3px solid red;
    padding: 0.3rem;
    font-size: 1.5rem;
    font-weight: 900;
    color: white !important;
    border-radius: 0 0.3rem 0 0 ;
    cursor: pointer;
    transition: all 0.3s ease;
}

.order-filter-close svg {
    transform: translateY(0.25rem);
    stroke-width: 1.5rem;
}

.order-filter-close:hover{
    background: none;
}


.order-filter-status {
    width: 100% !important;
    /* grid-area:filter-status; */
}

/* .order-filter-payment{
    grid-area: filter-payment;
} */

.order-filter-order{
    grid-area: filter-order;

}
.filters,
.filters .inputs > label{
    color: white !important;
    font-size: 1rem !important;
}

.order-filter-status{
    grid-area: filter-status;
}
.order-filter-people{
    grid-area: filter-people;
}

.order-filter-discount{
    grid-area: filter-discount;
}

.order-filter-createdAt {
    grid-area: filter-createdAt;
}
.order-filter-updatedAt {
    grid-area: filter-updatedAt;
}

.order-filter-status,
.order-filter-payment,
.order-filter-order,
.order-filter-people,
.order-filter-discount,
.order-filter-createdAt,
.order-filter-updatedAt  {
    margin: 0.5rem 0;
    width: 100%;
    display: block;
}

.order-filter-status select,
.order-filter-payment select {
    width: 100%;
    height: 2rem;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
}

.order-filter-order,
.order-filter-people,
.order-filter-discount,
.order-filter-createdAt > label{
    display:flex;
    flex-direction: column;
}

.order-filter-order .inputs,
.order-filter-people .inputs,
.order-filter-discount .inputs,
.order-filter-createdAt .inputs,
.order-filter-updatedAt .inputs {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    background: var(--fadedText);
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.order-filter-order .inputs input,
.order-filter-people .inputs input,
.order-filter-discount .inputs input,
.order-filter-createdAt .inputs input,
.order-filter-updatedAt .inputs input {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    padding: 0 0.5rem;
}

.order-filter-actions {
    grid-area:filter-actions;
    margin: 1rem 0 0 0;
    display:grid;
    grid-template-columns:45% 45%;
    column-gap: 10%;
    font-size: 1.1rem;
}

.order-filter-actions-save {
    background: green !important;
    border: 3px solid green;
    color: var(--fadedBackground);
    width: 100% !important;
}
.order-filter-actions-clear {
    background: var(--primaryBackground);
    border: 3px solid var(--primaryBackground);
    color: var(--fadedBackground);
    width: 100% !important;

}

.order-filter-actions button {
    transition: all 0.3s ease;
}

.order-filter-actions > button:hover {
    background: none;
}


@media only screen and (max-width: 600px) { 
    .order-filter-wrapper {
        align-items: flex-end;
    }
    .order-filter-filter{
        width: 100%;
        border-radius: 2rem 2rem 0 0;
        animation:popup 0.3s ease 1;
    }
    .order-filter-close {
        top: 0.3rem;
        right: 0.3rem;
        border-radius: 0 2rem 0 0;
    }
    .order-filter-close svg {
        transform: translate(-0.1rem, 0.3rem)
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .order-filter-filter {
        width: 80%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .order-filter-filter {
        width: 65%;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .order-filter-filter {
        width: 55%;
    }
}

@media only screen and (min-width: 1200px) {
    .order-filter-filter {
        width: 45%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
    .order-filter-filter {
        width: 30%;
    }
}