.kitchen-order-items-item {
    background: white;
    margin: 1rem 0 2rem 0;
    padding: 0.7rem;
    border-radius: 0.3rem;
    display:grid;
    column-gap: 0.5rem;
    grid-template-areas:
        'loader-svg loader-svg loader-svg loader-svg'
        'order-item-name order-item-name order-item-name order-item-quantity'
        'order-item-type order-item-type order-item-type order-item-type'
        'order-item-status order-item-status order-item-status order-item-status'
    ;
}

.kitchen-order-items-item-name {
    grid-area: order-item-name;
    font-size: 1.1rem;
    font-weight: bold;
}
.kitchen-order-items-item-quantity {
    grid-area: order-item-quantity;
    font-size: 1.1rem;
    font-weight: 900;
    text-align: right;
}
.kitchen-order-items-item-type {
    grid-area: order-item-type;
    text-transform: capitalize;
    font-size: 1.1rem;
    padding: 0.1rem 0;
    font-weight: 900;
    color: var(--primaryBackground);
}
.kitchen-order-items-item-status {
    grid-area: order-item-status;
    margin:1.5rem 0 0 0;
    padding: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    color: white;
    text-transform: capitalize;
    font-weight: 900;
    text-align: center;
}

.kitchen-order-items-item.pending > .kitchen-order-items-item-status {
    background: rgb(255, 82, 82);
}

.kitchen-order-items-item.cooking > .kitchen-order-items-item-status {
    background: rgb(255, 145, 0);
}

.kitchen-order-items-item.completed > .kitchen-order-items-item-status {
    background: var(--primaryBackground);
    pointer-events: none;
}

.kitchen-order-items-item.served > .kitchen-order-items-item-status {
    background: rgb(15, 165, 65);
    pointer-events: none;
}

.kitchen-order-items-item .loader-svg {
    grid-area:loader-svg;
    width: inherit;
    text-align: center;
    padding: 1rem 0;
}

.kitchen-order-items-item .loader-svg svg {
    font-size: 4rem;
    font-weight: 900;
    color: var(--primaryBackground);
    animation:loader ease infinite 0.8s;
}